<<<<<<< Updated upstream
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-cols-26 {
    grid-template-columns: repeat(26, minmax(0, 1fr));
  }
}
=======
>>>>>>> Stashed changes
